<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>593689082553-sho1utru3c37jl40526758m3nf6tmjl1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593689082553-sho1utru3c37jl40526758m3nf6tmjl1</string>
	<key>API_KEY</key>
	<string>AIzaSyBjLBcIO-ZQEcNHJ-DjTD8csuVDS1guAM4</string>
	<key>GCM_SENDER_ID</key>
	<string>593689082553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryushiki.Trace</string>
	<key>PROJECT_ID</key>
	<string>trace-e927b</string>
	<key>STORAGE_BUCKET</key>
	<string>trace-e927b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:593689082553:ios:f20fdb026bfec26a</string>
	<key>DATABASE_URL</key>
	<string>https://trace-e927b.firebaseio.com</string>
</dict>
</plist>